@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 85%;
  height: 100vh;
  margin: auto;
}

header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

main {
  background-color: white;
  height: 100%;
  padding: 1em;
}

main.two {
  display: grid;
  grid-template-columns: 30em auto;
  grid-template-rows: auto;
  column-gap: 1em;
  div {
    background-color: grey;
  }
  div.two-column {
    display: flex;
    flex-direction: column;
    button {
      background-color: white;
      margin: 0.25em;
      border-radius: 5px;
      color: black;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: lightgray;
    }
    input {
      border-color: black;
      background-color: white;
      color: black;
      border-radius: 10px;
      margin: .25em;
    }
    select {
      background-color: white;
      color: black;
      width: min-content;
      border-radius: 10px;
      padding: 0.25em;
    }
    table {
      margin:5px;
      td {
        width: 50%;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

main.rates {
  form {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    input {
      border: 1px solid black;
    }
  }
}

.institution-dropdown {
  background-color: white;
  color: black;
  width: min-content;
  border-radius: 10px;
  padding: 0.25em;
}

.tabNav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;

}
.tab {
  display: block;
  background-color: grey;
  color: black;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}
.tab.active {
  background-color: white;
}

.tab:hover {
  background-color: white;
}