@import "tailwindcss";

*:focus-visible {
  border: none;
  outline: none;
}

:root {
  --overlay0: #6e738d;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --text: #cad3f5;
  --green: #a6da95;
  --red: #ed8796;
}


body {
  background: var(--crust);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  width: 100em;
  margin: auto;
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  min-height: 100vh;
}

header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: inherit;
  column-gap: inherit;
}

main {
  background-color: var(--mantle);
  height: 100%;
  padding: 1em;
  border-radius: 10px;

}

footer {
  background-color: var(--mantle);
  height: 100%;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 10px;

}

form {
  min-width: 32em;
  text-align: left;



}


table {
  h1 {
      text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

  }
  h3 {
    text-align: center;
    font-size: 1.0em;
  }

  td:nth-child(2) {
    text-align: left;
  }
  td:nth-child(1) {
    text-align: right;
  }

  width: 100%;

  border-collapse: separate;
  border-spacing: 0.5em;

  td {
    width: 50%;
    height: 2em;
  }
}

table.overview-table {

  td {
    width: unset;
    text-align: left;
    border-bottom: var(--text) 2px solid;
    border-top: var(--text) 2px solid;
    padding: 0em 0.5em;

  }


  border-collapse: collapse;

  thead.major-cats {
    td {
      border-right: var(--text) 2px solid;
      border-left: var(--text) 2px solid;

      font-weight: bold;
      font-size: 1.1em;

    }
  }

  thead.minor-cats {
    td {
      font-weight: bold;

    }
  }

  tbody, thead.minor-cats {
    td:nth-child(odd) {
      background-color: var(--base);
    }
    td:nth-child(2), td:nth-child(4), td:nth-child(6), td:nth-child(9), td:nth-child(13), td:nth-child(14) {
      border-right: var(--text) 2px solid;
    }
    td:nth-child(1) {
      border-left: var(--text) 2px solid;
    }
  }


}

button, input, select, .inputOuterLeft, .inputOuterRight {
  background-color: var(--base);
  border-radius: 10px;
  color: var(--text);
  height: 2em;
  width: 100%;
  padding: 0em 0.5em;
}


button:focus-visible, input:focus-visible, select:focus-visible,
.inputOuterLeft:focus-visible, .inputOuterRight:focus-visible, .inputOuterCombo:focus-visible,
.inputOuterLeft:focus-within, .inputOuterRight:focus-within, .inputOuterCombo:focus-within {
  border: none;
  outline: none;
  background-color: var(--surface0);
}

.inputOuterLeft, .inputOuterRight, .inputOuterCombo {
  button, input, select {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
  }

  display: inline-grid;
  width: 100%;
  grid-template-rows: 2em;
  align-items: center;
  column-gap: 0.25em;
}

.inputOuterLeft {
  grid-template-columns: 1em auto;

}
.inputOuterRight {
  grid-template-columns: auto 1em;
}


button:hover, input:hover, select:hover, .inputOuterLeft:hover, .inputOuterRight:hover {
  background-color: var(--overlay0);

}

button.submitButton {
  background-color: var(--green);
  color: var(--base);
}
button.submitButton:hover {
  background-color: var(--text);
}

button.warning {
  background-color: var(--red);
  color: var(--base);
}
button.warning:hover {
  background-color: var(--text);
}

button.actionButton {
  width: 100%;
}


main {
  padding: 0em;

  div {
    border-radius: inherit;

    height: 100%;
    display: flex;
    flex-direction: column;
  }
}



main.two-col {
  background-color: transparent;
  display: grid;
  padding: 0em;
  grid-template-columns: 30em auto;
  grid-template-rows: auto;
  column-gap: inherit;

  > div {
    background-color: var(--mantle);
  }

  .items {
    * {
      width: 100%;
    }

    td {
      height: unset;
    }

    a {
      display: block;
      background-color: var(--base);
      border-radius: 10px;


      text-align: center;
    }
    a:hover {
      background-color: var(--overlay0);
    }

    a.active {
      background-color: var(--surface0);
    }
  }
}




.tabNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: inherit;
  width: 100%;
  * {
    flex-grow: 1;
  }

}
.tab {
  display: block;
  background-color: var(--base);
  color: var(--text);
  border-radius: 10px;
  text-align: center;
}

.tab.active {
  background-color: var(--surface0);
}

.tab:hover {
  background-color: var(--overlay0);
}

.co-pi-row {
  grid-column: 1 / span 2;
  display: contents; /* this puts its children into the parent grid*/
}